body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
}
header{
  width: 100%;
  height: 90px;
  background: #111;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img{
  width: 140px;

}
header a{
    color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}
<<<<<<< HEAD
main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main img{
  width: 300px;
  background: white;
  padding: 30px;
  border-radius: 10px;  
}
.tablaboto{
 display: flex;
 flex-direction: column;
 gap: 10px;
align-items: center;
justify-content: end;
=======
main img{
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 10px;  
}
.produc{
  display: flex;
  gap: 30px;
  align-items: center;
>>>>>>> ffe0c030c1633c8dfba2de1802cc4c95f499fac4
}
table td{
padding: 8px;
text-align: center;
border: solid 2px;
}
button{
<<<<<<< HEAD
  width: 80px;
display: flex;
background-color: rgb(0, 0, 0);
=======
display: flex;
background-color: blue;
>>>>>>> ffe0c030c1633c8dfba2de1802cc4c95f499fac4
color: #f5f5f5;
transition: 0.4s;
}
button :hover{
  transform: scale(1.1);
}
<<<<<<< HEAD
footer{
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}


=======
footer a{
  text-decoration: none;
  color: #f5f5f5;
  text-align: center;
}
footer{
  background-color: #111;
  border-top: #f5f5f5 5px;
  text-align: center;
}
>>>>>>> ffe0c030c1633c8dfba2de1802cc4c95f499fac4
